name: Build and push docker image from trunk

on:
  push:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  docker-build-and-push:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        dockerfile:
          - {"name": etna-cpu, "path": docker/etna-cpu/Dockerfile}
          - {"name": etna-cuda-11.6.2, "path": docker/etna-cuda-11.6.2/Dockerfile}
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"
      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          version: 1.7.1
          virtualenvs-create: true
          virtualenvs-in-project: true
      - name: Install dependencies
        run: |
          poetry install -E all -vv
      - name: Build image
        run: |
          cd $( dirname ${{ matrix.dockerfile.path }})
          echo "etna[all] @ git+https://github.com/${{ github.repository }}.git@${{ github.sha }}" > requirements.txt
          poetry export -E "all jupyter" --without-hashes --format=requirements.txt >> requirements.txt
          cat requirements.txt
          docker build . --tag image
      - name: Log into registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
      - name: Push image
        run: |
          IMAGE_ID=ghcr.io/${{ github.repository }}/${{ matrix.dockerfile.name }}
          VERSION=latest
          echo IMAGE_ID=$IMAGE_ID
          echo VERSION=$VERSION
          docker tag image $IMAGE_ID:$VERSION
          docker push $IMAGE_ID:$VERSION
